.cart-container {
  font-family: "Red Hat Text", sans-serif;
  background: #fff;
  width: 384px;
  border-radius: 16px;
  padding: 24px 24px 40px 24px;
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.cart-container::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 8px;
}
.cart-container::-webkit-scrollbar-button {
  display: none;
}

.empty-cart {
  text-align: center;
}

.empty-cart img {
  margin-top: 40px;
}

.empty-cart h4 {
  color: #87635a;
  font-weight: 600;
  font-family: "Red Hat Text";
  font-size: 16px;
}

.cart-title {
  font-size: 20px;
  font-weight: 700;
  color: #c73b0f;
  margin-bottom: 16px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.cart-item-name {
  font-weight: 500;
  margin: 0;
}

.cart-item-details {
  font-size: 14px;
  color: #777;
  margin: 4px 0 0;
}

.qty {
  color: #c73b0f;
  font-weight: 700;
}

.price {
  color: #333;
  font-weight: 500;
}

.remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #ad8a85;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: none;
  font-size: 18px;
  color: #ad8a85;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.remove-btn:hover {
  border-color: black;
  color: black;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  margin: 16px 0;
}

.total-price {
  font-size: 20px;
}

.carbon-note {
  display: flex;
  align-items: center;
  background: #faf5f2;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 16px;
}

.carbon-note img {
  margin-right: 8px;
}

.confirm-btn {
  width: 100%;
  background: #c73b0f;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.confirm-btn:hover {
  background: #a5300d;
}
